.studioImage {
  border-radius: 50%;
  border: 2px solid #f5ac2d;
}

.link {
  color: #f5ac2d;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.socialLink {
  color: #f5ac2d;
  margin-right: 10px;
}

.amenitiesGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.spoilerControl {
  color: #f5ac2d;
  cursor: pointer;
}

.spoilerContent {
  color: #323d56;
}
