.button {
  margin-top: 0.5rem; /* mt-2 */
  padding: 0.5rem 1rem; /* py-2 px-4 */
  border-radius: 0.375rem; /* rounded-md */
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: var(--yellowDiffShade); /* Assuming you have defined --yellowDiffShade somewhere in your CSS variables */
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--yellow-200); /* focus:ring-yellow-200 */
}

.root {
  background-color: var(--notification-color, var(--mantine-primary-color-filled));

  &::before {
    background-color: var(--mantine-color-white);
  }
}

.description,
.title {
  color: var(--mantine-color-white);
}

.closeButton {
  color: var(--mantine-color-white);

  @mixin hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}