.section {
  background-color: #fcfaf9;
}

.container {
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);

  @media (min-width: $mantine-breakpoint-sm) {
    padding-top: calc(var(--mantine-spacing-xl) * 2);
    padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  }
}

.imageContainer {
  position: relative;
  width: 100%;
  height: rem(400);
  margin-bottom: var(--mantine-spacing-xl);
}

.image1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: auto;
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-lg);
  z-index: 2;
}

.image2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
  height: auto;
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-lg);
  z-index: 1;
}

.image3 {
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
  width: 30%;
  height: auto;
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-lg);
  z-index: 3;
}

.title {
  font-size: rem(36);
  font-weight: 700;
  margin-bottom: var(--mantine-spacing-md);
}

.description {
  font-size: var(--mantine-font-size-lg);
  margin-bottom: var(--mantine-spacing-xl);
}

.button {
  /* background-color: var(--mantine-color-blue-6);
  color: white; */

  &:hover {
    background-color: var(--mantine-color-yellow-7);
  }
}

@media (max-width: $mantine-breakpoint-sm) {
  .imageContainer {
    height: rem(300);
  }

  .title {
    font-size: rem(28);
  }

  .description {
    font-size: var(--mantine-font-size-md);
  }

  .button {
    width: 100%;
  }
}