.header {
  background-color: var(--mantine-color-background-0);
  height: 60px;
  border-bottom: 1px solid #E0E0E0;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.link {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  color: #4A4A4A;
  font-size: 20px;
  font-weight: 700;
  transition: background-color 0.2s ease;
}

.link:hover {
  background-color: #E0E0E0;
}

.linkLabel {
  margin-right: 5px;
}

.getWellhubButton {
  background-color: #D00;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.getWellhubButton:hover {
  background-color: #B00;
}
