.container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.title {
    color: #f5ac2d;
  font-size: rem(36px);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: var(--mantine-spacing-md);

  @media (min-width: $mantine-breakpoint-sm) {
    font-size: rem(48);
  }

  @media (min-width: $mantine-breakpoint-xl) {
    font-size: rem(56);
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 3rem;
  }
}

.description {
  max-width: 48rem;
}

.link {
  color: var(--mantine-color-blue-6);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.carousel {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.card {
  margin: 0.25rem;
}

.price {
  font-size: 2rem;
  line-height: 1;
}

.button {
  /* background-color: var(--mantine-color-blue-6);
  color: white; */
  padding-left: 2rem;
  padding-right: 2rem;
}

.button:hover {
  background-color: var(--mantine-color-yellow-7);
}

.checkIcon {
  color: var(--mantine-color-green-6);
}
